@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.greeting {
    font-family: 'Rubik', sans-serif;
    font-size: 150px;
    color: white;
    align-content: center;
}
